[submodule "nvim"]
	path = nvim
	url = https://github.com/burstMembrane/nvim
[submodule "neovim/.config/nvim"]
	path = neovim/.config/nvim
	url = https://github.com/burstMembrane/nvim
[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = https://github.com/burstMembrane/nvim
